.search {
  width: 100%;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchTerm {
  width: 100%;
  border: 1px solid #0a1b71b4;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #373a38;
}
.searchTerm:focus{
   color: #9DBFAF;
}
.searchButton {
  /* width: 40px; */
  margin-left: 20px;
  height: 32px;
  border: 1px solid #3d3f40;
  background: #0a1b71b4;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
.search-wrap{
 
}
.search-wrap input{
  width: 200px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 8px;
  margin-right: 20px;
}
.search-wrap select{
  width: 200px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 8px;
}
.search-wrap option{

}
